@import '../../../../styles/mixins';

.dashboard-wrapper {
    width: 95%;
    height: 90%;
    margin: auto;
}

.histogram-container {
    display: flex;
    width: 100%;

    svg {
        margin: 1rem;

        /*
         * Axis
         */
        g#y-axis {
            .domain {
                stroke: var(--funnel-axis);
            }
        }

        g#x-axis {
            .domain {
                stroke: var(--funnel-axis);
            }

            .tick {
                color: var(--funnel-axis);
            }
        }

        g#x-axis,
        g#y-axis {
            text {
                font-size: 12px;
                font-weight: normal;
                font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
                fill: #0f0f0f;
            }
        }

        /*
         * Grid
         */
        g#y-gridlines {
            stroke-dasharray: 4, 2;

            g.tick:not(:first-child) {
                color: var(--funnel-grid);
            }

            .domain,
            g.tick:nth-of-type(1) {
                display: none; // hide axis line
            }
        }

        /*
         * Bars
         */
        g#bars {
            fill: var(--funnel-default);
        }

        g#labels {
            text.bar-label {
                // same as chart-js
                font-size: 12px;
                font-weight: normal;
                font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

                fill: var(--white);
                &.outside {
                    fill: #0f0f0f;
                }
            }
        }
    }
}
